# ===== Bedrock default (dipertahankan) =====
# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# ===== Tambahan yang berguna =====
# Sistem/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Front-end build
**/node_modules/
**/dist/
**/build/
**/*.map
coverage/

# Dump DB
*.sql
*.sqlite

# LocalWP symlink (abaikan jika tidak ada)
public